/* styles/navigation.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
}

.profile {
  display: flex;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
}

.date {
  font-size: 1rem;
}

.dropdown {
  font-size: 1.2rem;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 2rem 0.5rem;
  border-top: 1px solid #cecece;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.navItem {
  flex: 1;
  text-align: center;
}

.navItem a {
  text-decoration: none;
}

.button {
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  color: #0070f3;
}
