/* styles/statistics.module.css */
.main {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.5rem;
}

.toggleButtons {
  display: flex;
}

.toggleButtons button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background: #f0f0f0;
}

.toggleButtons .active {
  background: #3498db;
  color: white;
}

.chartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.chart {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.chartText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.balanceLabel {
  font-size: 1rem;
  color: gray;
}

.balance {
  font-size: 2rem;
  color: #3498db;
  margin: 1rem 0;
}

.arrowContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  margin-top: 1rem;
}

.arrowButton {
  background: none;
  font-size: 2rem;
}

.details {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
}

.detailValue {
  font-weight: bold;
  color: #3498db;
}

.transactions {
  width: 100%;
  font-size: 1.4rem;
}

.transactionSection {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}

.transactionHeader {
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  width: 100%;
  padding: 0.8rem 1rem;
  align-items: center;
}

.transactionItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.categoryColor {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.amount {
  font-weight: bold;
}

.income {
  color: #3498db;
}

.expense {
  color: #f44336;
}
