/* styles/transactions.module.css */
.container {
  font-family: Arial, sans-serif;
  background: #e9eaf0;
  height: 100vh;
  font-size: 1.4rem;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.searchInput {
  flex-grow: 1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cancelButton {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #e4e4e4;
}

.transactionsList {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1rem;
}

.transaction {
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0.2rem 1rem;
  color: #000;
}

.date,
.total {
  font-weight: bold;
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entry {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-bottom: #e4e4e4 1px solid;
}

.entry:last-child {
  border-bottom: none;
}

.entryDot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.entryLabel {
  flex-grow: 1;
}

.entryAmount {
  color: #888;
}

.addButton {
  position: fixed;
  z-index: 10;
  bottom: 9rem;
  right: 2rem;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 4px rgba(79, 79, 79, 0.1);
}
